name: Terraform Plan and Apply for Trials

on:
  push:
    branches: [ main, feature/** ]
    paths-ignore:
    - 'terraform/shared_rg/**'

jobs:
  prepare-run-matrix:
    name: Detect changed definitions and prepare matrix
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
      is_empty_matrix: ${{ steps.set-matrix.outputs.is_empty_matrix }}
    steps:
      - uses: actions/checkout@v2

      # Get a list of changed .json files
      - name: Check changed files
        id: calc_files_diff
        run: |
          git fetch origin main:localmain

          export FILES=$(git diff --name-only localmain | grep .json)

          echo "Files changed since last commit..."
          echo "$FILES"

          # Escape newlines (replace \n with %0A)
          echo "::set-output name=diff::$( echo "$FILES" | sed ':a;N;$!ba;s/\n/%0A/g' )"

      # Create an execution plan, which includes each found file
      - name: Set matrix for TF plan and apply
        id: set-matrix
        run: |
          FILES="${{ steps.calc_files_diff.outputs.diff }}"
          JSON="{\"include\":["

          # Iterate diff files and add each for the run matrix
          while read path; do

            # if no file was changed. all values are empty, and the matrix should be empty
            if [ -z "$path" ]
            then
              echo "::set-output name=is_empty_matrix::true"
              echo "No definition (json) files were changed. will skip ALL TF jobs."
              break
            else
              echo "::set-output name=is_empty_matrix::false"
            fi

            echo "current definition file path: $path"

            # Extract values for the trial
            trialName=`echo $(jq -r '.name' ./$path)`
            trialId=`echo $(jq -r '.id' ./$path)`
            siteImage=`echo $(jq -r '.site_service.image_name' ./$path)`
            siteImageTag=`echo $(jq -r '.site_service.image_tag' ./$path)`
            practitionerImage=`echo $(jq -r '.practitioner_service.image_name' ./$path)`
            practitionerImageTag=`echo $(jq -r '.practitioner_service.image_tag' ./$path)`
            configServerImage=`echo $(jq -r '.config_server_service.image_name' ./$path)`
            configServerImageTag=`echo $(jq -r '.config_server_service.image_tag' ./$path)`

            # in this section we add to the output (the matrix), a new block, which
            # contains all the read content from the definition file (e.g. the trial name,
            #  id, images, tags, etc... that are relevant for the following steps)
            MatrixItem="{\"trial_id\": \"$trialId\", \"path\": \"$path\", \"trial_name\": \"$trialName\","
            MatrixItem="$MatrixItem \"site_image_name\": \"$siteImage\",\"site_image_tag\": \"$siteImageTag\","
            MatrixItem="$MatrixItem \"practitioner_image_name\": \"$practitionerImage\",\"practitioner_image_tag\": \"$practitionerImageTag\","
            MatrixItem="$MatrixItem \"trial_config_service_image_name\": \"$configServerImage\",\"trial_config_service_image_tag\": \"$configServerImageTag\","
            MatrixItem="$MatrixItem },"
            JSON="$JSON$MatrixItem"
          done <<< "$FILES"

          # Remove last "," and add closing brackets
          if [[ $JSON == *, ]]; then
            JSON="${JSON%?}"
          fi
          JSON="$JSON]}"
          echo $JSON

          # Set output
          echo "::set-output name=matrix::$( echo "$JSON" )"

  tfplan:
    name: Execute TF on "${{ matrix.trial_name }}":${{ matrix.path }}
    needs: prepare-run-matrix
    if: ${{ needs.prepare-run-matrix.outputs.is_empty_matrix == 'false' }}
    strategy:
      matrix: ${{fromJson(needs.prepare-run-matrix.outputs.matrix)}}
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: './terraform'
    env:
      ARM_CLIENT_ID: 2620bfcd-13ee-4f8b-81fd-bd128efdb707
      ARM_CLIENT_SECRET: ${{secrets.TF_ARM_CLIENT_SECRET}}
      ARM_SUBSCRIPTION_ID: f3fba52d-c7db-46f8-9e7a-766ca869972e
      ARM_TENANT_ID: 99804659-431f-48fa-84c1-65c9609de05b
      ARM_ACCESS_KEY: ${{secrets.TF_ARM_ACCESS_KEY}}
    steps:
      - uses: actions/checkout@v2

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1

      - name: Terraform Init
        run: terraform init

      - name: Terraform workspace
        run: terraform workspace select ${{ matrix.trial_id }} || terraform workspace new ${{ matrix.trial_id }}

      - name: Terraform Format
        run: terraform fmt -check

      # Plan TF
      - name: Plan TF for "${{ matrix.trial_name }}"
        run: |
          terraform plan -var="trial_name=${{ matrix.trial_name }}" -var="site_image_name=${{ matrix.site_image_name }}" -var="practitioner_image_name=${{ matrix.practitioner_image_name }}" -var="trial_config_service_image_name=${{ matrix.trial_config_service_image_name }}"

      # Apply, only on merge to main
      - name: Apply TF for "${{ matrix.trial_name }}"
        # if: github.ref == 'refs/heads/main'
        run: |
          echo "Merged to main. applying trial's RG"
          terraform apply -var="trial_name=${{ matrix.trial_name }}" -var="site_image_name=${{ matrix.site_image_name }}" -var="practitioner_image_name=${{ matrix.practitioner_image_name }}" -var="trial_config_service_image_name=${{ matrix.trial_config_service_image_name }}" -auto-approve